#outer{
	/*position: absolute;*/
	height: 200px;
	width: 200px;
	background-color: red;
	margin-top: 10%;
	margin-left: 10%;
}
#inner{
	position: relative;
	height: 80px;
	width: 80px;
	background-color: cyan;
	left:30%;
	top: 30%;
}